<h1>Images of my pets</h1>
<ul style="list-style: none;">
  <% @images.each do |i| %>
    <li style="margin: 0 5px 10px 5px; padding: 0; float:left;">
    <%= image_tag "/images/#{i.filename}.jpg", :class => "image" %>
    </li>
  <% end %>
</ul>
